<%= render 'rides/filter_by_state_form' %>
<% @rides.each do |ride|  %>
  <ul class="single-ride__list">
    <li class="rides-container__list-item rides-container__list-item--title">
    <%= link_to ride.title, ride %>  
    </li>
    <li class="rides-container__list-item">Starting Location: <%= ride.starting_address %>, <%= ride.starting_city %>, <%= ride.starting_state %></li>
    <li class="rides-container__list-item">Ending Location: <%= ride.ending_address %>, <%= ride.ending_city %>, <%= ride.ending_state %></li>
    <li class="rides-container__list-item">Miles: <%= ride.distance_in_miles %></li>
    <li class="rides-container__list-item">Rating: <%= ride.star_rating %> stars</li>
  </ul>
    <% end %>