<%= form_with model: @ride, class: "new-ride-form" do |f| %>
  <h3>Add a new ride!</h3>
  <%= f.text_field :title, placeholder: "Title", class: "new-ride-form__title" %><br>
  <%= f.text_field :starting_town, placeholder: "Starting Town" %><br>
  <%= f.text_field :ending_town, placeholder: "Ending Town" %><br>
  <%= f.text_field :starting_intersection, placeholder: "Starting Intersection" %><br>
  <%= f.text_field :ending_intersection, placeholder: "Ending Intersection" %><br>
  <%= f.text_field :distance_in_miles, placeholder: "Distance (in miles)" %><br>
  <%= f.text_field :star_rating, placeholder: "Star Rating" %><br>
  <%= f.hidden_field :author_id, :value => current_user.id %>
  <%= f.submit "Create!", class: "new-ride-form__submit" %>
<% end %>

<%= render 'errors' if @errors %>