
<div class="rides-container">
  <ul class="rides-container__list">
    <h1 class="site-header">Ride Reviews</h1>
    <% @rides.each do |ride|  %>
      <li class="rides-container__list-item"><strong><%= ride.title %></strong></li>
      <li class="rides-container__list-item">Starting Town: <%= ride.starting_town %></li>
      <li class="rides-container__list-item">Ending Town: <%= ride.ending_town %></li>
      <li class="rides-container__list-item">Starting Intersection: <%= ride.starting_intersection %></li>
      <li class="rides-container__list-item">Ending Intersection: <%= ride.ending_intersection %></li>
      <li class="rides-container__list-item">Miles: <%= ride.distance_in_miles %></li>
      <li class="rides-container__list-item">Rating: <%= ride.star_rating %></li>
    <% end %>
  </ul>
</div>