<!DOCTYPE html>
<html>
  <head>
    <title>Ride Reviews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="navigation">
      <div class="navigation__login">
        <% if !current_user %>
          <%= link_to "Login", login_path, remote: true, class: "navigation__login-link" %>
        <% else %>
          <p>Currently logged in. Put something cool here.</p>
        <% end %>
      </div>
      <div class="navigation__image--random">
        <p>Random Picture</p>
      </div>
      <div class="navigation__registration">
        <% if !current_user %>
          <%= link_to "Register", registration_path, remote: true, class: "navigation__registration-link" %>
        <% else %>
          <p>Hi, <%= current_user.username  %>!</p>
          <%= link_to "Logout", logout_path %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
