<!DOCTYPE html>
<html>
  <head>
    <title>Ride Reviews</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all'  %>
    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Racing+Sans+One",  media: 'all' %>
    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Chewy",  media: 'all' %>

    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Merriweather|Racing+Sans+One", media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'moto_favicon.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="_qw76DYQkqeNyCmgLr5RwPKG86uwOvhCY6IxLokiygA" />
  </head>

  <body>
  <div class="site-container">
    <div class="navigation">
      <div class="navigation__login navigation__add-ride">
        <% if !current_user %>
          <%= link_to "User/Guest Login", login_path, remote: true, class: "navigation__login-link" %>
        <% else %>
          <%= link_to "Add Ride", new_ride_path, remote: true, class: "navigation__new-ride-link" %>
        <% end %>
      </div>
      <div class="navigation__center-box">
        <%= image_tag('https://source.unsplash.com/900x600/?motorcycle,winding-road', class: "box--slideshow_image_1") %>
        <%= image_tag('https://source.unsplash.com/901x600/?motorcycle,winding-road', class: "box--slideshow_image_2") %>
        <%= image_tag('https://source.unsplash.com/900x601/?motorcycle,winding-road', class: "box--slideshow_image_3") %>
        <%= image_tag('https://source.unsplash.com/902x600/?motorcycle,winding-road', class: "box--slideshow_image_4") %>
        <%= image_tag('https://source.unsplash.com/900x602/?motorcycle,winding-road', class: "box--slideshow_image_5") %>
      </div>
      <div class="navigation__registration navigation__user-rides">
        <% if !current_user %>
          <%= link_to "Register", registration_path, remote: true, class: "navigation__registration-link" %>
        <% else %>
          <%= link_to "Logout", logout_path, class: "navigation__logout-link" %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </div>
  </body>
</html>
